<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Statics/Styles/Expos.css">
</head>
<body>
    <header>
        <div id="rel"></div>
        <div id="rel1"></div>
        <div id="rel2"></div>
        <p id="titulo">Salas de Exposiciones</p>
        <div id="rel3"></div>
        <div id="rel4"></div>
        <div id="rel5"></div>
    </header>
    <nav>
        <img src="../Statics/Img/logo.png" width=227px height="148px">
        <a href="../Index.html">Inicio</a>
        <br><br>
        <a href="./Nosotros.html">Sobre Nosotros</a>
        <br><br>
        <a href="./Expos.html">Sala de Exposiciones</a>
        <ul>
            <li>Espacio Infantil</li>
            <br>
            <li>Océano</li>
            <br>
            <li>Física</li>
            <br>
            <li>Jardin Universum</li>
            <br>
            <li>Agua, Elemento de la Vida</li>
            <br>
            <li>R3, Reduce Reutiliza y Recicla</li>
            <br>
            <li>El Cerebro, Nuestro Puente con el Mundo</li>
            <br>
            <li>La Química Está en Todo</li>
            <br>
            <li>Universo</li>
            <br>
            <li>Habitat</li>
            <br>
            <li>Evolución, Vida y Tiempo</li>
            <br>
            <li>Población</li>
            <br>
            <li>Salud, Vida en Equilibrio</li>
            <br>
            <li>Sexualidad</li>
        </ul>
    </nav>
    <div id="d1">
        <article id="ar1">
            <h3 id="t1">Imaginario Matemático</h3>
            <sub>Primer Piso, Edificio D</sub>
        </article>
    </div>
    <article id=a2>
        <img src="../Statics/Img/Braqui.jpg" width="194px" height="178px">
        <h4>Braqustocrona</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam.</p>
    </article>
    <article id=a3>
        <img src="../Statics/Img/Estetoscopio.jpg" width="194px" height="178px">
        <h4>Caleidoscopio</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam.</p>
    </article>
    <article id=a4>
        <img src="../Statics/Img/Billar.jpg" width="194px" height="178px">
        <h4>Cónicas</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam.</p>
    </article>
    <article id=a5>
        <img src="../Statics/Img/Nudos.jpg" width="194px" height="178x">
        <h4>Nudos</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam.</p>
    </article>
</body>
</html>