<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Statics/Styles/Nosotros.css">
</head>
<body>
    <header>
        <div id="rel"></div>
        <div id="rel1"></div>
        <div id="rel2"></div>
        <p id="titulo">Sobre Nosotros</p>
        <div id="rel3"></div>
        <div id="rel4"></div>
        <div id="rel5"></div>
    </header>
    <nav>
        <img src="../Statics/Img/logo.png" width=227px height="148px">
        <a href="../Index.html">Inicio</a>
        <br><br>
        <a href="./Nosotros.html">Sobre Nosotros</a>
        <br><br>
        <a href="./Expos.html">Sala de Exposiciones</a>
        <ul>
            <li>Espacio Infantil</li>
            <br>
            <li>Océano</li>
            <br>
            <li>Física</li>
            <br>
            <li>Jardin Universum</li>
            <br>
            <li>Agua, Elemento de la Vida</li>
            <br>
            <li>R3, Reduce Reutiliza y Recicla</li>
            <br>
            <li>El Cerebro, Nuestro Puente con el Mundo</li>
            <br>
            <li>La Química Está en Todo</li>
            <br>
            <li>Universo</li>
            <br>
            <li>Habitat</li>
            <br>
            <li>Evolución, Vida y Tiempo</li>
            <br>
            <li>Población</li>
            <br>
            <li>Salud, Vida en Equilibrio</li>
            <br>
            <li>Sexualidad</li>
        </ul>
    </nav>
    <h1>Pagina en construcción</h1>
    <h2>UwU</h2>
</body>
</html>